{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaixaTube</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>BaixaTube<span style="color: rgb(209, 3, 3);">MP4</span></h1>
            <nav>
                <a href="/"Baixador de vídeos YouTube></a>
                <select>
                    <option>Português</option>
                    <option>English</option>
                </select>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <style>

    </style>
</body>
</html>