body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #333;
}

header nav select {
    padding: 5px;
}

.main-content {
    text-align: center;
    margin-top: 50px;
}

.main-content h2 {
    font-size: 28px;
    color: #333;
}

form {
    margin-top: 20px;
}

form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: rgb(209, 3, 3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}